body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: arial;
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

 .move-icon {
  height: 50px;
}

.move-button{
  background-color: transparent;
  border: 3px solid white;
  width: 25vw;
  height: 25vw;
  max-width: 200px;
  max-height: 200px;
  border-radius: 600px;
  margin-right: 10px;
  cursor: pointer;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
}

.score {
  margin-top: 30px;
}

.reset-score-button {
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.info{
  padding: 0;
  height: 10vh;
}

@media only screen and (min-width: 1200px){
  .move-button{
    background-color: transparent;
    border: 3px solid white;
    width: 25vw;
    height: 25vw;
    max-width: 200px;
    max-height: 200px;
    border-radius: 600px;
    margin-right: 50px;
    cursor: pointer;
  }

  div {
    display: flex;
    align-items: center;
    justify-content:center;
    border: 2px solid white;
  }
}
